/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* ====================================================== Header Start ====================================================== */
    header {
        padding: 0 0 !important;
    }

    .logo {
        width: 160px;
    }

    .menu ul li a {
        padding: 0 15px 5px !important;
    }

    /* ====================================================== Header End ====================================================== */
    /* ====================================================== Banner start ====================================================== */
    .banner {
        padding: 0 0 50px;
    }

    .b_h1 {
        margin: 10px 0;
        font-size: 30px;
        line-height: 35px;
    }

    .b_text2 {
        line-height: 24px;
    }

    .b_img {
        margin-bottom: 20px;
        padding: 0 10px;
    }

    /* ====================================================== Banner start ====================================================== */

    /* ====================================================== Feature start ====================================================== */
    .feature {
        padding: 20px 0 60px;
    }

    /* ====================================================== Feature end ====================================================== */

    /* ====================================================== Courses start ====================================================== */
    .course {
        padding: 0 0 60px;
    }

    .s_course {
        margin: 20px 0 0;
        padding: 15px 10px 20px;
    }

    .s_course h2 {
        margin: 10px 0 5px;
        font-size: 20px;
        line-height: 30px;
    }

    .c_title h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .btn_course {
        margin: 15px 0 25px;
    }

    .mr_c {
        margin-right: -2px !important;
    }

    .left ul li img,
    .right ul li img {
        width: 19px;
    }

    .left ul li span,
    .right ul li span {
        letter-spacing: -1px;
    }

    /* ====================================================== Courses end ====================================================== */
    /* ====================================================== Testimony start ====================================================== */
    .testimony{
        padding: 0px 0 60px;
    }
    .statement {
        padding-top: 0px;
        text-align: center;
    }
    .author,.statement {
        margin-top: 35px;
    }
    /* ====================================================== Testimony end ====================================================== */
    /* ====================================================== Footer start ====================================================== */
    .footer_text{
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 1px;
    }
    .f_2{
        margin-top: 30px;
        text-align: center;
    }
    .copyright{
        margin: 76px 0 20px;
    }
    /* ====================================================== Footer end ====================================================== */
}





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* ====================================================== Header Start ====================================================== */
    .menu ul li a {
        padding: 0 15px 10px !important;
    }

    /* ====================================================== Header End ====================================================== */
    /* ====================================================== Banner start ====================================================== */
    .banner {
        padding: 0 0 60px;
    }

    .b_h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .b_text2 {
        line-height: 24px;
    }

    .b_img {
        margin-bottom: 30px;
        padding: 0 60px;
    }

    /* ====================================================== Banner start ====================================================== */

    /* ====================================================== Feature start ====================================================== */
    .feature {
        padding: 20px 0 60px;
    }

    /* ====================================================== Feature end ====================================================== */

    /* ====================================================== Courses start ====================================================== */
    .course {
        padding: 0 0 60px;
    }

    .s_course {
        margin: 20px 80px 0;
        padding: 20px 15px 25px;
    }

    .c_title h1 {
        font-size: 30px;
        line-height: 40px;
    }

    /* ====================================================== Courses end ====================================================== */
    /* ====================================================== Testimony start ====================================================== */
    .testimony{
        padding: 0px 0 60px;
    }
    .statement {
        padding-top: 0px;
        text-align: center;
    }
    .author,.statement {
        margin-top: 40px;
    }
    /* ====================================================== Testimony end ====================================================== */
    /* ====================================================== Footer start ====================================================== */
    .footer_text{
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 1px;
    }
    .f_2{
        margin-top: 30px;
        text-align: center;
    }
    .copyright{
        margin: 76px 0 20px;
    }
    /* ====================================================== Footer end ====================================================== */
}





/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ====================================================== Header Start ====================================================== */
    .menu ul li a {
        padding: 0 15px 10px !important;
    }

    /* ====================================================== Header End ====================================================== */
    /* ====================================================== Banner start ====================================================== */
    .banner {
        padding: 0 0 60px;
    }

    .b_h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .b_text2 {
        line-height: 24px;
        word-spacing: 3px;
    }

    .b_img {
        margin-bottom: 30px;
        padding: 0 60px;
    }

    /* ====================================================== Banner start ====================================================== */

    /* ====================================================== Feature start ====================================================== */
    .feature {
        padding: 20px 0 80px;
    }

    /* ====================================================== Feature end ====================================================== */

    /* ====================================================== Courses start ====================================================== */
    .course {
        padding: 0 0 80px;
    }

    .s_course {
        margin: 30px 170px 0;
        padding: 20px 15px 25px;
    }

    /* ====================================================== Courses end ====================================================== */
    /* ====================================================== Testimony start ====================================================== */
    .author, .statement {
        margin-top: 40px;
    }
    /* ====================================================== Testimony end ====================================================== */
    /* ====================================================== Footer start ====================================================== */
    .footer_text{
        text-align: center;
        letter-spacing: 1px;
    }
    .f_2{
        margin-top: 50px;
        text-align: center;
    }
    .copyright{
        margin: 76px 0 20px;
    }
    /* ====================================================== Footer end ====================================================== */
}





/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ====================================================== Banner start ====================================================== */
    .b_text {
        padding-right: 0px;
    }

    .b_h1 {
        font-size: 44px;
    }

    .b_text2 {
        letter-spacing: -0.4px;
    }

    /* ====================================================== Banner end ====================================================== */

    /* ====================================================== Courses start ====================================================== */
    .mr_c {
        margin-right: -2px !important;
    }

    .left ul li span,
    .right ul li span {
        letter-spacing: -1px;
    }

    /* ====================================================== Courses end ====================================================== */
}





/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* ====================================================== Banner start ====================================================== */
    .b_text {
        padding-right: 42px;
    }

    /* ====================================================== Banner end ====================================================== */
    /* ====================================================== footer start ====================================================== */
    .footer_text{
        padding-left: 55px;
    }
    /* ====================================================== footer end ====================================================== */
}





/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

    /* ====================================================== Banner start ====================================================== */
    .b_text {
        padding-right: 117px;
    }

    /* ====================================================== Banner end ====================================================== */

    /* ====================================================== Feature start ====================================================== */
    .s_feature {
        padding: 65px 0 60px;
    }

    /* ====================================================== Feature end ====================================================== */
    /* ====================================================== footer start ====================================================== */
    .footer_text{
        padding-left: 50px;
    }
    /* ====================================================== footer end ====================================================== */
}